.listWrapper {
    width: 100%;

    &:has(div[aria-hidden="true"])>&__titleBar>&__arrowWrapper {
        transform: rotateZ(90deg);
    }

    &:has(div[aria-hidden="false"])>&__titleBar>&__arrowWrapper {
        transform: rotateZ(-90deg);
    }

    &__titleBar {
        display: grid;
        grid-template-columns: 1fr 3vw;
        margin: 0 auto;
        border-bottom: solid black 1px;
        cursor: pointer;
        height: 2vh;
        height: fit-content;
        font-family: 'Poppins-Medium';
        font-size: 1.1em;
        position: sticky;
        top: 0;
        background-color: #0ceaec;
    }

    &__date {
        padding: 0.5vw;
    }

    &__arrowWrapper {
        width: 3em;
        transition: transform 0.1s;

        &>img {
            width: 100%;
        }
    }


    &__tempList {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.3s;

        &[aria-hidden="true"] {
            max-height: 0vh;
        }

        &[aria-hidden="false"] {
            max-height: 500vh;
        }

    }
}