.weatherHourlyPerDay {

    &__listItem {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &>p:nth-child(2) {
            text-align: right;
        }

        border: solid red 1px;
    }
}