.main {
    width: 100%;

    &__tabs {
        display: grid;
        font-family: 'Poppins-Medium';
        text-align: center;
        grid-template-columns: 1fr 1fr;


        &>a {
            padding: 0.5em;
            color: white;
            text-decoration: none;
        }
    }

    &__outletWrapper {
        border-top: solid black 1px;
        height: 50vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    @keyframes animate {
        0% {
            background-color: rgba(0, 0, 0, 0);
        }

        100% {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__active {
        animation: animate 0.3s forwards;
    }

    &__inactive {
        animation: animate 0.3s forwards reverse;
    }
}